Hi,

We received a request to reset your Urban Link password.

To reset your password, please enter this code:

{{ .RecoveryCode }}

This code will expire in 1 hour.

If you didn't request a password reset, you can safely ignore this email.

Best regards,
The Urban Link Team
